body {
    margin: 0;
    color: white;
    background-color: var(--blue-color);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2
}

.flex3 {
    flex: 3
}

.helper {
    border: solid red 2px;
}

:root {
    --blue-bg-color: rgb(4, 1, 57);
    --yellow-color: #ffff00;
    --blue-color: #00a6fb;
}